See https://github.com/pydata/pandas/issues/9424

In [2]:
import pandas as pd
from StringIO import StringIO

In [15]:
data = """A,A,B,B,B
    1,2,3,4,5
    6,7,8,9,10
    11,12,13,14,15"""

# check default beahviour
df = pd.read_table(StringIO(data), sep=',')
assert (list(df.columns) == ['A', 'A.1', 'B', 'B.1', 'B.2'])

df = pd.read_table(StringIO(data), sep=',', mangle_dupe_cols=False)
assert (list(df.columns)==['A', 'A', 'B', 'B', 'B'])

df = pd.read_table(StringIO(data), sep=',', mangle_dupe_cols=True)
assert (list(df.columns)== ['A', 'A.1', 'B', 'B.1', 'B.2'])

In [30]:
df = pd.read_table(StringIO(data), sep=',', mangle_dupe_cols=True)
df

    A  A.1   B  B.1  B.2
0   1    2   3    4    5
1   6    7   8    9   10
2  11   12  13   14   15

In [31]:
import tabulate
print tabulate.tabulate(df, headers=df.columns.tolist(), tablefmt='pipe')

|    |   A |   A.1 |   B |   B.1 |   B.2 |
|---:|----:|------:|----:|------:|------:|
|  0 |   1 |     2 |   3 |     4 |     5 |
|  1 |   6 |     7 |   8 |     9 |    10 |
|  2 |  11 |    12 |  13 |    14 |    15 |

In [25]:
df = pd.read_table(StringIO(data), sep=',', mangle_dupe_cols=False)
df

    A   A   B   B   B
0   2   2   5   5   5
1   7   7  10  10  10
2  12  12  15  15  15

In [29]:
print tabulate.tabulate(df, headers=df.columns.tolist(), tablefmt='pipe')

|    |   A |   A |   B |   B |   B |
|---:|----:|----:|----:|----:|----:|
|  0 |   2 |   2 |   5 |   5 |   5 |
|  1 |   7 |   7 |  10 |  10 |  10 |
|  2 |  12 |  12 |  15 |  15 |  15 |